<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Everyone Rides Nice</title>

    <!--  Favicon -->
    <link rel="shortcut icon" href="/favicon2.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon2.ico" type="image/x-icon">

    <!-- fonts from Adobe TypeKit -->
    <script src="https://use.typekit.net/uzx1fig.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!--  font  awesome icons-->
    <script src="https://use.fontawesome.com/4f77ba3166.js"></script>

    <!--  Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!--  CSS -->
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container top">
          <img class="logo" src="/images/tire.png">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <!-- <i class="fa fa-bus" aria-hidden="true"></i> -->
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button> -->
                <a class="navbar-brand" href="#">
                  <img class="nav-text" src="/images/ERNtextSmall.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
                <ul class="nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                      <a href="#donate">Donate</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="background-image">
  <img src="/images/busRidersGreyscaleShort.jpg">
</div>
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <img class="main-logo" src="/images/ERNtext.png">
                <p> Everyone Rides Nice fills the transportation gap for people who need access to opportunity. Job-seekers, learners, and people who get vital support from non-profit agencies can’t enrich their lives unless they can get to and from those opportunities. NICE provides the service while ERN provides the fare.</p>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="/images/emptyBus.jpg">
            <h2 class="featurette-heading">Sometimes all people need
                <br>
                <span class="text-muted"> is a bus ride</span>
            </h2>
            <p class="lead">ERN exists to provide access to things and services that are vital to Long Islanders’ well-being. Sometimes all people need is a bus ride to end their isolation and enrich their lives. Everyone Rides NICE makes sure that the cost of bus fare is not a barrier to those people.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="/images/headlights.jpg">
            <h2 class="featurette-heading">ERN fills the transportation gap
                <span class="text-muted">by providing free bus rides</span>
            </h2>
            <p class="lead">For many of our fellow citizens with limited resources the cost of a round-trip bus journey represents a significant drain on those resources and may require trading off transportation for other essentials like paying a bill, securing food or medical care or a day’s child care. ERN fills the transportation gap by providing free bus transportation in the form of MetroCards usable on NICE buses with transfer privileges to and from MTA service in Queens.
</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">



<!--  fourth feature-->
    <div class="featurette" id="donate">
        <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
        <h2 class="featurette-heading">The Fourth Heading
            <span class="text-muted">Will Seal the Deal.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Everyone Rides Nice 2016</p>
            </div>
        </div>
    </footer>

</div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



</body>

</html>
