
body {
    /*margin-top: 50px; */
    margin: 0;
    position: relative;
    height: 100%;
    width: auto;
    font-family: "myriad-pro", sans-serif;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.navbar {
  z-index: 1500;
}

nav.navbar-inverse.navbar-fixed-top {
  right: -10%;
}

button#button {
  background-color: #f15c22;
  border-color: #000;

}
.header-image {
    display: block;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 80px;
    color: #f15c22;
    z-index: 1000;
    margin-top: -60%;
    margin-left: -5%;
    position: relative;
    width: 500px;
    height: auto;
}
.headline h1 {
    z-index: 1000;
    margin-top: -60%;
    margin-left: -5%;
    position: relative;
    height: auto;
}
.background-image img.bus-pic {
  width: 100%;
  padding-top: 6%;
}
.background-image img.type {
  margin-top: -30%;
  width: 70%;
  margin-left: 28%;
}
.logo {
  margin-left: 2%;
  margin-top: 2%;
  height: 200px;

}

h2.featurette-heading {
  text-align: right;
  font-size: 49px;
  padding-right: 52%;
}

p.text-block {
  font-size: 22px;
  width: 45%;
  margin-left: 52%;
  margin-top: -16%;
  padding-bottom: 10%;
}

div.text-form {
  width: 1px; /* Line width */
 background-color: black; /* Line color */
 height: 100%; /* Override in-line if you want specific height. */
 float: left;
}

div.second-image img {
  width: 100%;
}

div.second-image img.text {
  width: 82%;
  margin-top: -24%;
  margin-left: 6%;
}

div.donate-container {
  margin-top: 38%;
}

div#faq {
  margin-top: 20%;
}

img.busCutout {
  margin-left: 98%;
  margin-top: -20%;
}

div.dropdown {
    /*margin-top: 40%;*/
    margin-bottom: 50%;
    margin-right: 38%;
    margin-left: 39%
}

img.nav-text {
  margin-top: 10%;
  width: 108px;
  margin-left: -95%;
}

img.main-logo {
  margin-top: -88%;
  width: 500px;
}
/*.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}*/
ul.nav {
  /*margin-left: 14%;
  margin-top: -3%;*/
  display: inline;
  font-size: 20px;
}

ul.nav li a {
  /*font-family: proxima-nova-n9, proxima-nova, sans-serif;*/
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-left: 10px;
  color: #ffffff;
}

a {
  color: #F05D21;
}

.btn-top {
  /*margin-left: 400px;*/
  /*margin-top: -70px;*/
  /*font-family: proxima-nova-n9, proxima-nova, sans-serif;*/
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;

}

div.donate {
  margin-top: -20%;
  margin-left: 46%;
  position: relative;
  z-index: 1100;
}

img.blue-square {
  width: 90%;
}

button.btn.btn-primary.menu {
  display: none;
  z-index: 1;
}

img.donate-pic {
  /*width: 700px;
  margin-left: 30px;
  margin-top: -20%;*/
  width: 100%;
}

div.transition-container {
  width: 100%;
  margin-top: 25%;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;

}
div.icon-container {
  margin-top: -27%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 0;
  padding-right: 0;
  color: white;
  background-color: #4c4c4c;
  height: 650px;
  width: 100%;
  text-align: center;
}

div.icons {
  display: inline;
  text-align: center;
  margin-bottom: 5%;
}

i.fa-5x {
  font-size: 1200%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-top: 2%;



}

img.grey-box {
  width: 80%;
  height: 50%;
  position: relative;
  margin-top: -400px;
  margin-left: 10%;
  color: grey;
  z-index: 900;

}

div.hidden-menu {
  display: none;
  margin-left: 59%;
  margin-top: 3%;
  margin-right: 32%;
}
div#donate.featurette {
  padding-top: 45%;
}
p.donate-text {
  font-size: 16px;
  margin-left: 7%;
  margin-right: 56%;
  margin-bottom: 7%;
  margin-top: -21%;
  /*padding-left: 40%;
  padding-top: 5%;
  padding-right: 5%;*/
  color: #000000;
  z-index: 1000;
  position: relative;
  text-align: right;;
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.5px;
  height: 300px;
}
img.rider {
  width: 100%;
  margin-bottom: -10%;
  margin-top: 10%;
}

div#faq.featurette {
  margin: 10%;
}
/*div.whiteBox {
  background color: white;
  height: 100px;
  width: 80%
}*/
div.container.top {
  height: 30px;
}

div.featurette {
  padding-top: 10%;
}
.navbar-inverse {
  border: none;
  height: 120px;
  background-color: #000000;
}

.nav-right {
  padding-left: 60%;
  margin-top: -3%;
}

img.bus-cutout {
  margin-left: 98%;
  margin-top: -20%;
}

img.nice-logo {
  margin-top: 4%;
}

div.captions {
  padding-top: 2%;
}

img.textimage {
    position: relative;
    width: 32%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
}

p.main-text {
  font-size: 20px;
  margin-left: 6%;
  margin-right: 5%;
  width: 21%;
  display: inline-block;
}
.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    /*margin-right: 40px;*/
    width: 500px;
}

.featurette-image.pull-right {
    margin-left: 40px;
    width: 500px;
}

.featurette-heading {
    font-size: 50px;
}

footer.main {
    margin-top: 10%;
    margin-left: 40%;

}

p.donate-footer {
  font-size: 11px;
  width: 100%;
  margin-top: 45%;
  /*padding-top: 5%;*/
  color: #272727;
  z-index: 1001;
  position: relative;
  text-align: left;
  background-color: white;
  height: 10px;
  text-align: center;
}


/*Smaller than laptop*/
@media(max-width:1200px) {
    i.fa-5x {
      font-size: 730%;
      padding-top: 10%;
    }
    button.btn.btn-primary.menu {
      display: block;
      margin-left: 80%;
      margin-top: 4%;
    }
    div.hidden-menu {
      display: block;
      z-index: 1200;
      position: absolute;
      margin-left: 70%;
    }
    div.background-image {
      display: none;
    }
    div.big-nav {
      display: none;
    }
    img.main-logo {
      display: none;
    }
    img.nav-text {
      margin-left: 10%;
    }
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }

    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    div.donate {
    margin-left: 20%;
    width: 60%;
    text-align: left;
    }
    input {
      width: 113%;
    }
    p.donate-text{
      font-size: 19px;
      margin: 20px;
      padding-left: 2px;
    }

    div.icons {
      display: none;
    }

    div.hidden-menu {
      margin-left: 60%;
    }

    div.text-blox {
      width:28%;
    }

    img.textimage {
      position: relative;
      width: 28%;
      height: auto;
    }


    p.main-text {
      display: block;
      width: 80%;
      margin-top: 20%;
      text-align: left;
      font-size: 20px;

    }

    p.main-text.mobile {
      display: none;
    }
    .container {
      padding-right: 0;
      padding-left: 0;
      margin: 0;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
    p.footer {
      display: none;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}
